body{
    margin-left: 15px;
}

.title p{
    font-size: 3vw;
    font-weight: 600;

}

a {
    text-decoration: none;
    color: #000024;
}
a:hover{color:red}

body{
    background-image: url("picture/Homepage_background.jpg");
    background-size: cover;
}