<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="music.css" type="text/css">
    // vue script
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    // vue-axios
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div>
        <a id="homepage" href="index.html">Return</a>
    </div>
    <br>
    <div id="whole">
        <h1 id="title">Music Player</h1>
        <div id="player">
            <div id="bar">
                <input type="text"  v-model="query" @keyup.enter="searchMusic" placeholder="music/person"> <button @click="searchMusic"> search </button>
            </div>
            <div id="list">
                <ul style="list-style: none">
                    <li v-for="item in musicList">
                        <a @click="playMusic(item.id)"><i id="right_finger" class="fa fa-hand-o-right"></i></a>
                        <b>{{ item.name }}</b>
                        <span id="mv" v-if="item.mvid!=0" @click="playMV(item.mvid)"><i class="fa fa-youtube-play"></i></span>
                    </li>
                </ul>
            </div>

            <div id="img" :class="{playing:isPlaying}">
                <img :src="musicCover" height="400px" width="400px" >
            </div>

            <div id="comment">
                <dl v-for="item in hotComments">
                    <dt>
                    <img id="comment_img" :src="item.user.avatarUrl" alt=""  height="70px">
                    </dt>
                    <br>
                    <dd id="nickname">{{ item.user.nickname }}</dd>
                    <dd>{{ item.content }}</dd>
                    <hr>
                </dl>
            </div>
            <br>
            <div id="footer">
                <audio id="audio" ref="audio" :src="musicUrl" controls autoplay ></audio>
            </div>
            <br>
            <div v-show="isShow">
                <video :src="mvUrl" controls autoplay width="70%" height="70%"></video>
                <div id="mask" @click="hide"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="music.vue"></script>
</body>
</html>