body {
    background-image: url('picture/music_background2.jpg');
    background-size: cover;

    color: grey;
}

#title{
    color: gold;
    font-size: 50px;
}

i {
    cursor: pointer;
}

#bar input{
    border: 2px solid #c5464a;
    border-radius: 20px;
    font-size: 18px;
    outline:none;
    padding-left:10px;
    width: 200px;
}

#bar button{
    border-radius: 100px;
    height: 25px;
}

#whole{
    text-align: center;
}

img{
    float: left;
    width:33.3%;
    margin-top: 100px;
    border-radius: 50%;
}

#list{
    float:left;
    text-align: left;
    width: 28.3%;
    margin-left: 5%;
}

#comment{
    margin-left: 5%;
    margin-right: 5%;
    float:left;
    width: 21.3%;
    height: 602px;
    font-weight: bold;
    overflow: auto;
    padding-right: 2%;
}

#comment::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

#comment_img{
    margin: 0;
}

#footer{
    float:bottom;
}

#audio{
    outline:none;
}

#right_finger{
    color:gold;
}

#mv{
    float:right;
    margin-right: 50px;
    color:gold;
}

video{
    position: absolute;
    top: 15%;
    left: 15%;
    z-index:100;
}

#mask{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    left:0;
    top:0;
    opacity: 0.8;
    z-index:97;
}

#homepage{
    float:left;
    text-decoration: none;
}

#homepage:hover {
    color: gold;
}

#title:hover{
    color: orangered;
}
