a {text-decoration: none}
a:hover{color:red}

body{
    background-image: url("picture/project_background.jpg");
    background-size: cover;
}

#move{
    position: relative;
    margin-left: 5px;
}

div#task {
    float:left;
    width: 30%;
}

div#topology{
    float:left;
}

#picture{
    display: none;
    margin-left: 38%;
}

#return{
    display: block;
    text-align: center;
}
