a {text-decoration: none}
a:hover{color:red}

body{
    background-image: url("picture/project_background.jpg");
    background-size: cover;
}

div #task {
    float:left;
    width: 30%;
}

div #topology{
    float:left;
    width:6%;
}

#picture{
    display: none;
}
